chown -R 999:999 /database
mkdir -p /database/data/mysql
docker run \
  --expose 4567 \
  --name mariadb-container \
  -d \
  -v /database/mysql.conf.d:/etc/mysql/conf.d:rw \
  -v /database/data:/var/lib/mysql:rw \
  -p 3306:3306 \
  -p 4567:4567/udp \
  -p 4567-4568:4567-4568 \
  -p 4444:4444 \
  mariadb:10.3.14 \
  --wsrep_node_address="{{ db_host }}"
